$width: 768px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}

.container{
    display: flex;
    margin-top: 10px;
}

.link{
    text-decoration: none;
    color: inherit;
}